@import 'icon-hover-effects.css';
@import 'all.css';
@import '3d-transform-effects.css';

:root{
    --blue: #3498db;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}